@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@400;700;800&family=Josefin+Sans:ital,wght@0,400;0,500;1,400&display=swap");

root {
  --font-family: "Crete Round", serif;
  --font-family: "Inter", sans-serif;
  --font-family: "Josefin Sans", sans-serif;
  --blue: #1992d4;
  --light-gray: #e2e8f0;
  --dark-yellow: #f0b429;
  --pink: #fda4af;
  --gray: #a3a3a3;
  --gray-blue: #e0f2fe;
  --sun-yellow: #facc15;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "inter", sans-serif;
}
/* styling of the main container */

.main-container {
  border: 1px solid red;
  height: 100vh;
  display: grid;
  grid-template-columns: 13rem repeat(3, 1fr);
  grid-template-rows: 200px repeat(4, 1fr);
}

aside {
  grid-column: 1 / 2;
  grid-row: 1 / 6;
  background-color: #1992d4;
}
/* styling of the navigation bar */

nav .navbar_header {
  padding-top: 15px;
  color: white;
  display: flex;
  flex-direction: row;
  padding-bottom: 25px;
}

nav .navbar_header img {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  margin-right: 12px;
  padding-left: 15px;
}

nav .navbar_header h1 {
  padding-top: 5px;
  font-size: 18px;
  font-weight: normal;
}

nav .navbar_list li {
  display: flex;
  padding-left: 20px;
  color: white;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  padding-left: 20px;
}

nav .navbar_icons {
  color: white;
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 18px;
  margin-right: 19px;
}

nav > ul :nth-child(7) {
  padding-top: 3.13rem;
}

header {
  border: 1px solid green;
  grid-column: 2 / 5;
  background-color: aquamarine;
}

section {
  border: 1px solid rgb(34, 7, 107);
  grid-column: 2 / 5;
  grid-row: 2 / 6;
  background-color: grey;
}
