@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@400;700;800&family=Josefin+Sans:ital,wght@0,400;0,500;1,400&display=swap");

:root {
  --font-family: "Crete Round", serif;
  --font-family: "Inter", sans-serif;
  --font-family: "Josefin Sans", sans-serif;
  --blue: #1992d4;
  --light-gray: #e2e8f0;
  --dark-yellow: #f0b429;
  --pink: #fda4af;
  --gray: #a3a3a3;
  --gray-blue: #e0f2fe;
  --sun-yellow: #facc15;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "inter", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 12rem 1fr 1fr 1fr;
  grid-template-rows: 1fr 4fr;
  height: 100vh;
  width: 100vw;
  grid-template-areas:
    "drawer nav nav nav"
    "drawer content content content";
}

.dashboard {
  grid-area: drawer;
  background-color: var(--blue);
  width: 13rem;
  position: fixed;
  height: 100vh;
}

.layout {
  grid-area: content;
}

.navbar_icons {
  color: white;
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 18px;
  margin-right: 19px;
}

.navbar_draw li {
  display: flex;
  padding-left: 20px;
  color: white;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  padding-left: 20px;
}

.dashboard_drawer {
  padding-top: 15px;
  color: white;
  display: flex;
  flex-direction: row;
  padding-bottom: 25px;
}
.dashboard_drawer img {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  margin-right: 12px;
  padding-left: 15px;
}
.dashboard_drawer h1 {
  padding-top: 5px;
  font-size: 18px;
  font-weight: normal;
}

.dashboard > ul :nth-child(7) {
  padding-top: 3.13rem;
}

header {
  grid-area: nav;
  background-color: var(--gray-blue);
  padding: 1.5rem 3rem;
}

.header-top {
  display: grid;
  grid-template-columns: 1fr max-content;
  margin-bottom: 2.5rem;
  height: 50px;
}

.search {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 60px;
}

.search_item img {
  padding-top: 5px;
}

.search > input {
  display: inline-block;
  border: none;
  background-color: var(--light-gray);
  width: min(80%, 35rem);
  padding: 0.3rem 1.5rem;
  margin-left: 1.25rem;
  border-radius: 12px;
}

.first_logo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
}

.first_logo img {
  border-radius: 50%;
}

.first_logo > div :nth-child(2) {
  border-radius: 50%;
}
